body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #A2DFF7;
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
    font-family: Lato, sans-serif;
}

